# Backend environment variables
PORT=           # This is the port the backend will run on
ATLAS_URI = mongodb+srv://<login>:<password>@safetystraw.lfyxk.mongodb.net/?retryWrites=true&w=majority&appName=SafetyStraw        # MONGODB Connection String
