# Backend environment variables
PORT=           # This is the port the backend will run on
ATLAS_URI = mongodb+srv://<login>:<password>@safetystraw.lfyxk.mongodb.net/?retryWrites=true&w=majority&appName=SafetyStraw        # MONGODB Connection String
EMAIL_USR = <company email> You can google how to set this up with your personal email. This is for the mailer
EMAIL_PASS = <company email app password> You can google how to set this up with your personal email
