@font-face {
  font-family: "Aileron";
  src: url("../fonts/Aileron-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Aileron";
  src: url("../fonts/Aileron-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

.bar-locator {
  width: 80vw;
  height: fit-content;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
}

.bar-locator-container {
  height: 60rem;
  width: 100%;
  border-radius: 2.75rem;
  border: 4px solid #e3e3e3;
  background-color: white;
}

.bar-locator-columns {
  display: grid;
  grid-template-columns: 40% 60%;
}
.bar-locator-title {
  text-align: center;
  width: fit-content;
  margin: 0 auto 3rem auto;
  font-size: 4.375rem;
  font-weight: 900;
  font-family: "Aileron", sans-serif;
  color: #000000;
}
.bar-locator-text {
  width: fit-content;
  margin-left: 5%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.bar-locator-text p {
  font-size: 2.63rem;
  font-weight: 700;
  font-family: "Aileron", sans-serif;
  color: #000000;
  line-height: 3.166rem;
}
.bar-locator-search {
  border: 2.64px solid #e3e3e3;
  border-radius: 1.1rem;
  width: 95%;
  height: 4rem;
  margin: 0 auto 0 5%;
  display: flex;
  flex-direction: row;
}
.bar-locator-map {
  width: 90%;
  height: 45rem;
  margin: 5% 0 5% 6%;
  border-radius: 2.75rem;
}
.bar-locator-addresses {
  margin-left: 5%;
  width: 100%;
  border-right: 2.64px solid #e3e3e3;
  overflow-y: auto;
  height: 45rem;
}
.bar-locator-search input {
  width: 100%;
  height: 100%;
  font-size: 1.76rem;
  font-weight: 400;
  font-family: "Aileron", sans-serif;
  color: #000000;
  padding: 0;
  line-height: normal;
  margin: 0 0 0 1rem;
  min-height: none;
}
.bar-locator-search img {
  border: none;
  background-color: white;
  width: 2rem;
  margin: auto 0 auto 1rem;
}
.map-container {
  border-radius: 2.75rem;
}

.bar-locator-left-col {
  height: 100%;
}
