@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

.blog_page_body {
    border-top: 5px solid #D34636;
    max-width: 1920px;
    max-height: 2316px;
    overflow-x: hidden;
    padding-bottom: 3.11vh;
    overflow-y: auto; /* Allow vertical scrolling when content overflows */
}

.sidebar_posts {
    padding: 0;
    margin: 0;
    left: 500.97vw;
}


.right_title {
    font-family: 'Aileron', 'sans-serif';
    font-weight: 700;
    font-size: 32px;
    display: flex;
    position: relative;
    gap: 0.77vw;
    padding-left: 1.8vw;
    line-height: 1;
}

.carrot {
    width: 2.917vw;
    cursor: pointer;
    position: relative;
    top: 1.59vh;
}

.carrot.shifted {
    display: none;
}
.carrot_2 {
    display: none;
}

.carrot_2.shifted {
    display: block;
    width: 0.55vw;
    height: auto;
    object-fit: contain;
    position: relative; /* Ensures you can move it with top, left, etc. */
    top: 0.45vh; /* Adjust this value to move it down */
    cursor: pointer;
}

.carrot_label {
    top: 14.907vh;
    padding-top: 2.16vh;
    padding-bottom: 1.64vh;
}

.blog_page {
    display: flex;
    transition: transform 0.3s ease; /* Ensure smooth transition */
}

.blog_page {
    transform: translateX(12%);
}
.blog_page.shifted {
    transform: translateX(0%);
}
.blog_page_left {
    margin-top: 37px;
}

.blog_page_image {
    position: relative;
    object-fit: contain;
    width: 68.59vw;
    height: auto;
    left: 3.89vw;
    top: 0vh;
    z-index: 1;
}

.blog_page_article {
    position: absolute;
    width: 58.16vw;
    height: auto;
    top: 15vh;
    left: 10.10vw;
    z-index: 2; /* Ensure it's above the image */
}

.side_bar_imgs {
    transform: translateX(200%);
    transition: left 0.3s ease; /* Smooth transition */
}
.side_bar_imgs.shifted {
    display: flex;
    flex-direction: column;
    transform: translateX(60%); /* Slide it fully into view */
}

.blog-post-image .blog_t_image, .blog_m_image{
    margin: 0; 
    padding: 0;
    width: 15.20vw;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}
.sidebar_posts .blog-post-date {
    margin-top: 0.86vh;
    margin-bottom: 0.36vh;
    font-weight: 400;
}
.sidebar_posts .blog-post-title {
    margin-bottom: 1.98vh;
    font-size: 17.63px;
    line-height: 1.96vh;
}
@media screen and (max-width: 1700px) {
    .side_bar_imgs.shifted {
        display: flex;
        flex-direction: column;
        transform: translateX(50%); /* Slide it fully into view */
    }
}
@media screen and (max-width: 1600px) {
    .side_bar_imgs.shifted {
        transform: translateX(40%); /* Slide it fully into view */
    }
}
@media screen and (max-width: 1500px) {
    .side_bar_imgs.shifted {
        transform: translateX(35%); /* Slide it fully into view */
    }
}
@media screen and (max-width: 1400px) {
    .side_bar_imgs.shifted {
        transform: translateX(0%); /* Slide it fully into view */
    }
}
@media screen and (max-width: 390px) {
    .carrot {
        display: none;
    }
    .carrot_2 {
        display: none;
    }
}