@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

.blog_page_body {
    max-width: 1920px;
    overflow-x: hidden;
}

.sidebar_posts {
    position: relative;
    padding-top: 13.88vh;
    padding-left: 18.48vw;
    margin-bottom: 20px;
}

.right_title {
    font-family: 'Aileron', 'sans-serif';
    font-weight: 700;
    font-size: 25px;
    display: flex;
    position: relative;
    gap: 1.25vw;
    padding-left: 1.8vw;
    line-height: 1;
}

.carrot_2 {
    display: none;
}

.carrot_2.shifted {
    display: block;
    width: 1.04vw;
    height: 2.453vh;
    object-fit: contain;
    position: relative; /* Ensures you can move it with top, left, etc. */
    top: 0.45vh; /* Adjust this value to move it down */
    left: 3px; /* Adjust this value to move it right, if needed */
    cursor: pointer;
}

.carrot_label {
    top: 14.907vh;
    padding-bottom: 5.184vh;
}

.carrot {
    width: 2.917vw;
    top: 13.15vh;
    left: 93.18vw;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.carrot.shifted {
    display: none;
}

.blog_page {
    display: flex;
    transition: transform 0.3s ease; /* Ensure smooth transition */
}

.blog_page {
    transform: translateX(10%);
}
.blog_page.shifted {
    transform: translateX(0%);
}

.blog_page_image {
    position: absolute;
    width: 68.59vw;
    height: 42.22vh;
    left: 3.89vw;
    top: 12.5vh;
}

.blog_page_article {
    position: relative;
    width: 58.16vw;
    height: 99.81vh;
    top: 40.09vh;
    left: 10.10vw;
}

.side_bar_imgs {
    transform: translateX(100%); /* Slide it fully into view */
    transition: left 0.3s ease; /* Smooth transition */
}
.side_bar_imgs.shifted {
    transform: translateX(0%); /* Slide it fully into view */
}

.blog-post-image {
    width: 15.199vw;
    height: 26.139vh;
    cursor: pointer;
}

@media screen and (max-width: 390px) {
    .carrot {
        display: none;
    }
    .carrot_2 {
        display: none;
    }
}