@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@600;900&display=swap');

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
.blog-posts {
    font-family: 'Aileron', 'sans-serif';
    font-size: 900;
    font-size: 70px;
    line-height: 7.78vh;
    top: 650.37vh;

}
.blog-post-images {
    display: flex;
    align-items: center;
}
.blog-post {
    text-align: center;
    background: linear-gradient(180deg, #E36f52, #dc5745);
    }
.blog_l_image {
    width: 486.39px;
    height: 470.5px;
    left: 10.79vw;
}
.blog_m_image {
    width: 486.39px;
    height: 470.5px;
    padding: 0px 18.61px;
    left: 37.589vw;
}
.blog_r_image {
    width: 486.39px;
    height: 470.5px;
    left: 64.388vw;
}
.blog_images {
    display: flex;
    justify-content: center;
}
@media (max-width: 1500px) {

    .blog_l_image {
        width: 400px;
        height: 380px;
    }
    .blog_m_image {
        width: 400px;
        height: 380px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        width: 400px;
        height: 380px;
    }
}
@media (max-width: 1470px) {
    .blog-posts {
        font-size: 60px;
    }
    .blog_l_image {
        width: 330px;
        height: 310px;
    }
    .blog_m_image {
        width: 330px;
        height: 310px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        width: 330px;
        height: 310px;
    }
}
@media (max-width: 1300px) {
    .blog-posts {
        font-size: 50px;
    }
    .blog_l_image {
        width: 300px;
        height: 290px;
    }
    .blog_m_image {
        width: 300px;
        height: 290px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        width: 300px;
        height: 290px;
    }
}
@media screen and (max-width: 1027px) {
    .blog-posts {
        font-size: 45px;
    }
    .blog_l_image {
        width: 270px;
        height: 260px;
    }
    .blog_m_image {
        width: 270px;
        height: 260px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        width: 270px;
        height: 260px;
    }
}
@media screen and (max-width: 950px) {
    .blog-posts {
        font-size: 40px;
    }
    .blog_l_image {
        width: 260px;
        height: 250px; 
    }
    .blog_m_image {
        width: 260px;
        height: 250px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        width: 260px;
        height: 250px;
    }
}
@media screen and (max-width: 828px) {
    .blog-posts {
        font-size: 35px;
    }
    .blog_l_image {
        width: 250px;
        height: 240px;
    }
    .blog_m_image {
        width: 250px;
        height: 240px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        width: 250px;
        height: 240px;
    }
}
@media screen and (max-width: 800px) {
    .blog-posts {
        font-size: 30px;
    }
    .blog_l_image {
        width: 240px;
        height: 230px;
    }
    .blog_m_image {
        width: 240px;
        height: 230px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        width: 240px;
        height: 230px;
    }
}
/* For tablets or screens less than or equal to 768px */
@media screen and (max-width: 768px) {
    .blog_l_image {
        width: 230px;
        height: 220px;
    }
    .blog_m_image {
        width: 230px;
        height: 220px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        width: 230px;
        height: 220px;
    }
}
@media screen and (max-width: 730px) {
    .blog_l_image {
        width: 220px;
        height: 210px;
    }
    .blog_m_image {
        width: 220px;
        height: 210px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        width: 220px;
        height: 210px;
    }
}
@media screen and (max-width: 700px) {
    .blog_l_image {
        width: 210px;
        height: 200px;
    }
    .blog_m_image {
        width: 210px;
        height: 200px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        width: 210px;
        height: 200px;
    }
}
@media screen and (max-width: 668px) {
    .blog_l_image {
        width: 170px;
        height: 160px;
    }
    .blog_m_image {
        width: 170px;
        height: 160px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        width: 170px;
        height: 160px;
    }
}

@media screen and (max-width: 568px) {
    .blog_l_image {
        width: 160px;
        height: 150px;
    }
    .blog_m_image {
        width: 160px;
        height: 150px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        width: 160px;
        height: 150px;
    }
}

@media screen and (max-width: 568px) {
    .blog_l_image {
        width: 150px;
        height: 140px;
    }
    .blog_m_image {
        width: 150px;
        height: 140px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        width: 150px;
        height: 140px;
    }
}
/* For mobile devices less than or equal to 480px */
@media screen and (max-width: 480px) {
    .blog_l_image {
        width: 110px;
        height: 100px;
    }
    .blog_m_image {
        width: 110px;
        height: 100px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        width: 110px;
        height: 100px;
    }
}

/* For very small screens or narrow devices */
@media screen and (max-width: 390px) {
    .blog_l_image {
        width: 150px;
        height: 140px;  
    }
    .blog_m_image {
        width: 150px;
        height: 140px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .blog-posts {
        font-size: 15px;
    }
    .blog_l_image {
        width: 100px;
        height: 90px;  
    }
    .blog_m_image {
        width: 100px;
        height: 90px;
        padding: 0px 18.61px;
    }
    .blog_r_image {
        display: none;
    }
}