@import url("https://fonts.googleapis.com/css2?family=Gantari:wght@600;900&display=swap");

@font-face {
  font-family: "Aileron";
  src: url("../fonts/Aileron-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../fonts/Aileron-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../fonts/Aileron-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.blog-posts-title {
  font-family: "Aileron", "sans-serif";
  font-weight: 900;
  font-size: 70px;
  line-height: 7.78vh;
  top: 650.37vh;
  /* padding-bottom: 17.31vh; */
  padding-bottom: 9.54vh;
}
.blog-post-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-post {
  /* text-align: center; */
  position: relative;
  padding: 50px 0;
  /* overflow: hidden; */
}

.blogpost-background {
  position: absolute;
  /* background: linear-gradient(180deg, #E36f52, #dc5745); */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.blog-post-image {
  width: 486.39px;
  height: 470.5px;
}

/* .posts{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 667.715vh
    gap: 28px;
}  */
.posts {
  display: flex;
  justify-content: center;
  gap: 28px;
}
/* styles.css */
html {
  font-size: 16px; /* 1rem = 16px */
}
/* blogposts.css */
.custom-button {
  padding: 1.2vh 4.9vw;
  background-color: white; /* Change as needed */
  /* width: 20.36vw;
    height: 7.4vh; */
  color: #d63a29;
  border: none;
  border-radius: 15px;
  font-size: 2.5rem;
  cursor: pointer;
  margin-top: 10vh;
  margin-bottom: 20px;
  font-family: "Gantari", "sans-serif";
  font-weight: 600;
}

/* Styling for the blog post dates */
.blog-post .posts .blog-post-date {
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 15.27px; /* dist between date and img */
  margin-bottom: 5px;
  line-height: 1.2;
}

/* Styling for the blog post titles */
.blog-post .posts .blog-post-title {
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 0;
  margin-top: 14.95px; /*dist between date and text*/
  line-height: 1.4;
  margin-block-end: 0;
  margin-block-start: 0;
}
@media (max-width: 1800px) {
  html {
    font-size: 15px !important; /* Shrinks all rem units */
  }
}
@media (max-width: 1700px) {
  html {
    font-size: 14px !important; /* Shrinks all rem units */
  }
}
@media (max-width: 1600px) {
  html {
    font-size: 13px !important; /* Shrinks all rem units */
  }
}

@media (max-width: 1500px) {
  .blog-post-image {
    width: 466.39px;
    height: 450.5px;
  }
  html {
    font-size: 12px !important; /* Shrinks all rem units */
  }
}
@media (max-width: 1470px) {
  .blog-posts {
    font-size: 60px;
  }
  .blog-post-image {
    width: 330px;
    height: 310px;
  }
  html {
    font-size: 11px !important; /* Shrinks all rem units */
  }
}
@media (max-width: 1300px) {
  .blog-posts {
    font-size: 50px;
  }
  .blog-post-image {
    width: 300px;
    height: 290px;
  }

  .blog-post .posts .blog-post-title {
    font-size: 18px;
  }
  .blog-post .posts .blog-post-date {
    font-size: 14px;
  }
  html {
    font-size: 10px !important; /* Shrinks all rem units */
  }
}
@media screen and (max-width: 1100px) {
  .blog-posts-title {
    font-size: 65px;
    padding-bottom: 60px; /* Decrease padding to reduce space */
    margin-bottom: 0;
  }
  html {
    font-size: 9px !important; /* Shrinks all rem units */
  }
}
@media screen and (max-width: 1027px) {
  .blog-posts {
    font-size: 45px;
  }
  .blog-post-image {
    width: 270px;
    height: 260px;
  }

  .blog-post .posts .blog-post-title {
    font-size: 16px;
    margin-top: 13.5px;
  }
  .blog-post .posts .blog-post-date {
    font-size: 13px;
    margin-top: 14px;
  }
  html {
    font-size: 8px !important; /* Shrinks all rem units */
  }
}
@media screen and (max-width: 950px) {
  .blog-posts {
    font-size: 43px;
  }
  .blog-post-image {
    width: 260px;
    height: 250px;
  }

  .blog-post .posts .blog-post-title {
    font-size: 15px;
    margin-top: 13.5px;
  }
  .blog-post .posts .blog-post-date {
    font-size: 12px;
    margin-top: 14px;
  }
  .custom-button {
    margin-top: 45px;
  }
}
@media screen and (max-width: 828px) {
  .blog-posts-title {
    font-size: 45px;
    padding-bottom: 30px; /* Decrease padding to reduce space */
    margin-bottom: 0;
  }
  .blog-posts {
    font-size: 35px;
  }
  .blog-post-image {
    width: 190px;
    height: 180px;
  }

  .blog-post .posts .blog-post-title {
    font-size: 14px;
  }
  .blog-post .posts .blog-post-date {
    font-size: 11px;
  }
  html {
    font-size: 7px !important; /* Shrinks all rem units */
  }
}
@media screen and (max-width: 800px) {
  .blog-posts {
    font-size: 30px;
  }
  .blog-post-image {
    width: 150px;
    height: 140px;
  }

  .blog-post .posts .blog-post-title {
    font-size: 13px;
    margin-top: 11.5px;
  }
  .blog-post .posts .blog-post-date {
    font-size: 10px;
    margin-top: 13px;
  }
  .custom-button {
    margin-top: 40px;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 730px) {
  .blog-post-image {
    width: 160px;
    height: 150px;
  }

  .blog-post .posts .blog-post-title {
    font-size: 12px;
  }
  .blog-post .posts .blog-post-date {
    font-size: 9px;
  }
  html {
    font-size: 6px !important; /* Shrinks all rem units */
  }
}
@media screen and (max-width: 700px) {
  .blog-posts-title {
    font-size: 38px;
    padding-bottom: 28px; /* Decrease padding to reduce space */
    margin-bottom: 0;
  }
  .blog-post-image {
    width: 150px;
    height: 140px;
  }

  .blog-post .posts .blog-post-title {
    font-size: 11px;
    margin-top: 11px;
  }
  .blog-post .posts .blog-post-date {
    font-size: 8px;
    margin-top: 10px;
  }
  html {
    font-size: 5px !important; /* Shrinks all rem units */
  }
  .custom-button {
    margin-top: 38px;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 668px) {
  .blog-post-image {
    width: 130px;
    height: 120px;
  }

  .blog-post .posts .blog-post-title {
    font-size: 10px;
    margin-top: 9px;
  }
  .blog-post .posts .blog-post-date {
    font-size: 8px;
    margin-top: 8px;
  }

  .custom-button {
    margin-top: 36px;
    font-size: 2.5rem;
  }
}

/* For very small screens or narrow devices */
@media screen and (max-width: 480px) {
  .blog-posts-title {
    font-size: 25px;
    padding-bottom: 18px; /* Decrease padding to reduce space */
    margin-bottom: 0;
  }
  .blog-post-image {
    width: 150px;
    height: 140px;
  }
  .blog_r_image {
    display: none;
  }
  .blog_r_image .blog-post-title {
    display: none; /* Hides the title associated with the right image */
  }
  .blog-post-item.blog_r_image .blog-post-date {
    display: none; /* Hides the date associated with the right image */
  }

  .blog-post .posts .blog-post-title {
    font-size: 9px;
    margin-top: 4.5px;
  }
  .blog-post .posts .blog-post-date {
    font-size: 8px;
    margin-top: 6px;
  }
  .custom-button {
    margin-top: 26.5px;
    font-size: 4rem;
    border-radius: 2rem;
    padding: 2.25rem 8rem;
  }
  html {
    font-size: 3px !important; /* Shrinks all rem units */
  }
}

@media screen and (max-width: 300px) {
  .blog-posts-title {
    font-size: 20px;
    padding-bottom: 10px; /* Decrease padding to reduce space */
    margin-bottom: 0;
  }
  .blog-post-image {
    width: 100px;
    height: 90px;
  }
  .blog_r_image {
    display: none;
  }

  .blog-post .posts .blog-post-title {
    font-size: 8px;
    margin-top: 3.5px;
  }
  .blog-post .posts .blog-post-date {
    font-size: 7px;
    margin-top: 3.5px;
  }
  .custom-button {
    margin-top: 25px;
  }
}
