@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@600;900&display=swap');

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
/* .our-product-paragraph {
    font-family: 'Aileron', 'sans-serif';
    font-size: 900;
    font-size: 4.375rem;
    line-height: 7.78vh;

    position: absolute;
    top:14.72vh;
    right:22.4vw;
} */
.blog-posts {
    font-family: 'Aileron', 'sans-serif';
    font-size: 900;
    font-size: 4.375rem;
    line-height: 7.78vh;
    top: 650.37vh;

}
.blog-post {
    text-align: center;
    background: linear-gradient(180deg, #E36f52, #dc5745);
    }
.blog_l_image {
    width: 25.333vw;
    height: 43.565vh;
    /* top: 667.715vh; */
    left: 10.79vw;

}
.blog_m_image {
    width: 25.333vw;
    height: 43.565vh;
    /* top: 667.715vh; */
    padding: 0px 18.61px;
    left: 37.589vw;

}
.blog_r_image {
    width: 25.333vw;
    height: 43.565vh;
    /* top: 667.715vh; */
    left: 64.388vw;
}