@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@700;900&display=swap');

.footer{
    display: flex;
    background-color: white;
    align-items: center;
}

.footer-left{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 3.75vw;
    margin-bottom: 1.667vw;
    margin-top: 2.18vw;
    width: clamp(150px,32.4vw,700px)

}

.footer-social:hover{
    transform: scale(0.95);
}

.footer-social:active{
    opacity: 0.9;
}

.footer-text {
    font-family: 'Gantari', 'sans-serif';
    font-size: clamp(11px, 1.667vw, 2rem);
    font-weight: 700;
    line-height: clamp(1rem, 2vw, 4rem);
    text-align: left;
    max-width: 430px;
}

.footer-logo-img{
    max-width: 100%;
    width: clamp(150px,15.625vw,300px);
    height: auto;
}

.footer-logo{
    margin-bottom: 1vw;
}

.footer-text{
    margin-bottom: 1vw;
}

.icons img {
    margin-right: 1vw;
}

.footer-social{
    max-width: 61px;
    width: clamp(21px,3.177vw,61px);
    height: auto;
}

.icons img:last-child {
    margin-right: 1vw;
}

.footer-links {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    /* justify-content: space-evenly; */
    width: 66.15%;
    height: 100%;
}

.footer-links ul {
    list-style: none;
    text-align: left;
    max-width: 400px;
}

.footer-links ul li:first-child{
    font-family: 'Gantari', sans-serif;
    font-size: clamp(14px, 2.083vw, 2.5rem);
    font-weight: 900;
    line-height: clamp(1rem, 2vw, 4rem);
}

.footer-links ul li:not(:first-child) {
    font-family: 'Gantari', sans-serif;
    font-size: clamp(11px, 1.667vw, 2rem);
    font-weight: 700;
    line-height: clamp(1rem, 2vw, 4rem);
    padding-top: clamp(1.25rem, 2.083vw, 2.5rem);
    white-space: wrap;
}

ul li a {
    color: black;
    text-decoration: none; /* Removes underline by default */
}

ul li a:hover {
    text-decoration: underline; /* Adds underline on hover */
}