@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@600;900&display=swap');

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

.merchandise-section {
  margin: 0 auto;
  height: 184.16vh; /* made height from the end of about us vid to blog post title */
  background: linear-gradient(360deg,  #DC5647 50%, #FCD678 99.99%);
}

.merchandise-items-wrapper {
  display: flex;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto); 
  width: 100%; 
  justify-items: center; 
  align-items: start; 
  position: relative;
  transition: 'transform 0.7s ease-in-out'
}


.merchandise-title {
  width: 32.56rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 11.1vh;
  margin-top: 30.64vh; /* this is the margin from the about us video to the merchandise title */
}

.merchandise-container {
  position: relative;
  width: 100vw;
  height: auto; 
  margin: 0 auto;
  overflow: visible;
}

.page {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  flex-shrink: 0;
}


.product-box {
  position: absolute; 
  text-align: center;
  border-radius: 0.916vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  width: 23.256rem;
  height: 23.247rem;
}

.product-box-1 {
  background-color: #FFFFFF;
  left: 20.424rem;
}

.product-box-2 {
  left: 48.744rem;
}

.product-box-3 {
  background-color: #FFFFFF;
  left: 77.652rem;
  
}

.product-box-4 {
  left: 20.424rem;
  top: 39.78rem;
}

.product-box-5 {
  background-color: #FFFFFF;
  left: 48.744rem;
  top: 39.78rem;
}

.product-box-6 {
  left: 77.652rem;
  top: 39.78rem;
}


.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}


.product-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.product-name {
  font-size: 1.466vw;
  font-weight: 900;
  color: #000000;
  font-family: 'Aileron';
  position: relative;
}

.product-name-1 {
  top: 3.18vh;
}

.product-name-2 {
  top: 3.18vh;
}

.product-name-3 {
  top: 3.18vh;
}

.product-name-4 {
  top: 2.85vh;
}

.product-name-5 {
  top: 2.85vh;
}

.product-name-6 {
  top: 2.85vh;
}

.view-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 108.62vh;
}

.view-more-button {
  background-color: #FFFFFF;
  width: 24.43rem;
  height: 7.41vh;
  border-radius: 1.04vw;
  color: #D63A29;
  font-size: 2.5rem;
  font-family: 'Gantari';
  font-weight: 600;
  border: none;
  line-height: 4.44vh;
}

.add-to-cart {
  position: absolute;
  width: 100%;
  height: 8.39vh;
  font-size: 1.76rem;
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Aileron';
  font-weight: 900;
  border-bottom-left-radius: 0.916vw;
  border-bottom-right-radius: 0.916vw;
  opacity: 65%;
  bottom: 0;
}


.add-to-cart:hover {
  background-color: #333333; 
  opacity: 85%; 
}



.coming-soon-overlay {
  position: absolute;
}

.coming-soon-text {
  font-size: 3.85rem;
  color: #D63A29;
  text-align: center;
  font-weight: 900;
  font-family: 'Aileron';
  left: 17.07vw;
  margin-top: 8.96vh;
  
}

.arrow {
  width: 2.88vw;
  height: 3.42vh;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: #FFFFFF;
  background: transparent;
  border: none;
}

.left-arrow {
  left: 9.79vw;
  top: 46.3vh;
}

.right-arrow {
  left: 88.28vw;
  top: 46.3vh;
}

@media only screen and (max-width: 1800px) {
  .product-box-1 {
    background-color: #FFFFFF;
    left: 17.424rem;
  }
  
  .product-box-2 {
    left: 45.744rem;
  }
  
  .product-box-3 {
    background-color: #FFFFFF;
    left: 74.652rem;
    
  }
  
  .product-box-4 {
    left: 17.424rem;
    top: 39.78rem;
  }
  
  .product-box-5 {
    background-color: #FFFFFF;
    left: 45.744rem;
    top: 39.78rem;
  }
  
  .product-box-6 {
    left: 74.652rem;
    top: 39.78rem;
  }
}
  

@media only screen and (max-width: 1700px) {
  /* .product-box {
    height: 20.25rem;
  } */

  .product-box-1 {
    background-color: #FFFFFF;
    left: 15.424rem;
  }
  
  .product-box-2 {
    left: 43.744rem;
  }
  
  .product-box-3 {
    background-color: #FFFFFF;
    left: 72.652rem;
    
  }
  
  .product-box-4 {
    left: 15.424rem;
    top: 35.78rem;
  }
  
  .product-box-5 {
    background-color: #FFFFFF;
    left: 43.744rem;
    top: 35.78rem;
  }
  
  .product-box-6 {
    left: 72.652rem;
    top: 35.78rem;
  }

  .add-to-cart {
    bottom: 0;
  }

  .left-arrow {
    left: 9.79vw;
    top: 42.3vh;
  }
  
  .right-arrow {
    left: 88.28vw;
    top: 42.3vh;
  }
}

@media only screen and (max-width: 1600px) {
  .product-box {
    display: flex;
    position: absolute;
    height: clamp(20rem, 10vw, 21rem);
    width: 20rem;
  }

  .product-box-1 {
    background-color: #FFFFFF;
    left: 14.424rem;
  }
  
  .product-box-2 {
    left: 40.744rem;
  }
  
  .product-box-3 {
    background-color: #FFFFFF;
    left: 67.652rem;
  }
  
  .product-box-4 {
    left: 14.424rem;
    top: 34.78rem;
  }
  
  .product-box-5 {
    background-color: #FFFFFF;
    left: 40.744rem;
    top: 34.78rem;
  }
  
  .product-box-6 {
    left: 67.652rem;
    top: 34.78rem;
  }

  .add-to-cart {
    bottom: 0;
  }

  .left-arrow {
    left: 9.79vw;
    top: 39.3vh;
  }
  
  .right-arrow {
    left: 88.28vw;
    top: 39.3vh;
  }

  .coming-soon-text {
    margin-top: 5rem;
    font-size: 3.2rem;
  }

  .view-more-button {
    position: absolute;
    top: 295rem;
  }
}

@media only screen and (max-width: 1500px) {
  .product-box {
    width: 19rem;
    height: 19rem;
  }


  .product-box-1 {
    background-color: #FFFFFF;
    left: 12.424rem;
  }
  
  .product-box-2 {
    left: 37.744rem;
  }
  
  .product-box-3 {
    background-color: #FFFFFF;
    left: 63.652rem;
  }
  
  .product-box-4 {
    left: 12.424rem;
    top: 32.78rem;
  }
  
  .product-box-5 {
    background-color: #FFFFFF;
    left: 37.744rem;
    top: 32.78rem;
  }
  
  .product-box-6 {
    left: 63.652rem;
    top: 32.78rem;
  }

  .add-to-cart {
    bottom: 0;
  }

  .left-arrow {
    left: 9.79vw;
    top: 38.3vh;
  }
  
  .right-arrow {
    left: 88.28vw;
    top: 38.3vh;
  }

  .merchandise-title {
    width: 28rem;
  }

  .coming-soon-text {
    margin-top: 4rem;
    font-size: 3.2rem;
  }

  .view-more-button {
    position: absolute;
    top: 290rem;
  }
}

@media only screen and (max-width: 1400px) {
  .product-box-1 {
    background-color: #FFFFFF;
    left: 8.424rem;
    width: 19rem;
  }
  
  .product-box-2 {
    left: 33.744rem;
    width: 19rem;
  }
  
  .product-box-3 {
    background-color: #FFFFFF;
    left: 58.652rem;
    width: 19rem;
  }
  
  .product-box-4 {
    left: 8.424rem;
    top: 32.78rem;
    width: 19rem;
  }
  
  .product-box-5 {
    background-color: #FFFFFF;
    left: 33.744rem;
    top: 32.78rem;
    width: 19rem;
  }
  
  .product-box-6 {
    left: 58.652rem;
    top: 32.78rem;
    width: 19rem;
  }

  .add-to-cart {
    bottom: 0;
  }

  .left-arrow {
    left: 9.79vw;
    top: 38.3vh;
  }
  
  .right-arrow {
    left: 88.28vw;
    top: 38.3vh;
  }

  .product-name {
    font-size: 1.3rem;
  }

  .view-more-button {
    position: absolute;
    top: 290rem;
  }
}

@media only screen and (max-width: 1300px) {
  .product-box {
    width: 18rem;
    height: 18rem;
  }
  
  .product-box-1 {
    background-color: #FFFFFF;
    left: 7.424rem;
  }
  
  .product-box-2 {
    left: 30.744rem;
  }
  
  .product-box-3 {
    background-color: #FFFFFF;
    left: 54.652rem;
  }
  
  .product-box-4 {
    left: 7.424rem;
    top: 32.78rem;
  }
  
  .product-box-5 {
    background-color: #FFFFFF;
    left: 30.744rem;
    top: 32.78rem;
  }
  
  .product-box-6 {
    left: 54.652rem;
    top: 32.78rem;
  }

  .add-to-cart {
    bottom: 0;
  }

  .left-arrow {
    left: 9.79vw;
    top: 36.3vh;
  }
  
  .right-arrow {
    left: 88.28vw;
    top: 36.3vh;
  }

  .view-more-button {
    position: absolute;
    top: 290rem;
  }

  .coming-soon-text {
    margin-top: 4rem;
    font-size: 2.8rem;
  }

}


@media only screen and (max-width: 1200px) {
  .product-box-1 {
    background-color: #FFFFFF;
    left: 5.424rem;
    width: 18rem;
  }
  
  .product-box-2 {
    left: 26.744rem;
    width: 18rem;
  }
  
  .product-box-3 {
    background-color: #FFFFFF;
    left: 48.652rem;
    width: 18rem;
  }

  .product-box-4 {
    left: 5.424rem;
    top: 30.78rem;
    width: 18rem;
  }
  
  .product-box-5 {
    background-color: #FFFFFF;
    left: 26.744rem;
    top: 30.78rem;
    width: 18rem;
  }
  
  .product-box-6 {
    left: 48.652rem;
    top: 30.78rem;
    width: 18rem;
  }

  .add-to-cart {
    bottom: 0;
  }

  .left-arrow {
    left: 9.79vw;
    top: 36.3vh;
  }
  
  .right-arrow {
    left: 88.28vw;
    top: 36.3vh;
  }

  .view-more-button {
    position: absolute;
    top: 287rem;
  }
}

@media only screen and (max-width: 1100px) {
  .product-box {
    width: 16rem;
    height: 16rem;
  }
  .product-box-1 {
    background-color: #FFFFFF;
    left: 6.424rem;
  }
  
  .product-box-2 {
    left: 25.844rem;
  }
  
  .product-box-3 {
    background-color: #FFFFFF;
    left: 44.652rem;
  }
  
  .product-box-4 {
    left: 6.424rem;
    top: 30.78rem;
  }
  
  .product-box-5 {
    background-color: #FFFFFF;
    left: 25.844rem;
    top: 30.78rem;
  }
  
  .product-box-6 {
    left: 44.652rem;
    top: 30.78rem;
  }

  .add-to-cart {
    bottom: 0;
  }

  .left-arrow {
    left: 9.79vw;
    top: 34.3vh;
  }
  
  .right-arrow {
    left: 88.28vw;
    top: 34.3vh;
  }

  .merchandise-title {
    width: 25rem;
  }

  .coming-soon-text {
    margin-top: 3.5rem;
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .product-box-1 {
    background-color: #FFFFFF;
    left: 4.424rem;
    width: 16rem;
  }
  
  .product-box-2 {
    left: 23.344rem;
    width: 16rem;
  }
  
  .product-box-3 {
    background-color: #FFFFFF;
    left: 41.652rem;
    width: 16rem;
  }
  
  .product-box-4 {
    left: 4.424rem;
    top: 30.78rem;
    width: 16rem;
  }
  
  .product-box-5 {
    background-color: #FFFFFF;
    left: 23.344rem;
    top: 30.78rem;
    width: 16rem;
  }
  
  .product-box-6 {
    left: 41.652rem;
    top: 30.78rem;
    width: 16rem;
  }

  .add-to-cart {
    bottom: 0;
    width: 100%;
  }

  .left-arrow {
    left: 9.79vw;
    top: 34.3vh;
  }
  
  .right-arrow {
    left: 88.28vw;
    top: 34.3vh;
  }

  .view-more-button {
    position: absolute;
    width: 20rem;
  }
}

@media only screen and (max-width: 950px) {
  .product-box-1 {
    background-color: #FFFFFF;
    left: 2.424rem;
  }
  
  .product-box-2 {
    left: 20.344rem;
  }

  
  .product-box-3 {
    background-color: #FFFFFF;
    left: 38.652rem;
  }
  
  .product-box-4 {
    left: 2.424rem;
    top: 28.78rem;
  }
  
  .product-box-5 {
    background-color: #FFFFFF;
    left: 20.344rem;
    top: 28.78rem;
  }
  
  .product-box-6 {
    left: 38.652rem;
    top: 28.78rem;
  }

  .left-arrow {
    left: 9.79vw;
    top: 32.3vh;
  }
  
  .right-arrow {
    left: 88.28vw;
    top: 32.3vh;
  }
}

@media only screen and (max-width: 900px) {
  .product-box {
    width: 15rem;
    height: 15rem;
  }
  .product-box-1 {
    background-color: #FFFFFF;
    left: 3.424rem;
  }
  
  .product-box-2 {
    left: 20.344rem;
  }

  
  .product-box-3 {
    background-color: #FFFFFF;
    left: 36.652rem;
  }
  
  .product-box-4 {
    left: 3.424rem;
    top: 28.78rem;
  }
  
  .product-box-5 {
    background-color: #FFFFFF;
    left: 20.344rem;
    top: 28.78rem;
  }
  
  .product-box-6 {
    left: 36.652rem;
    top: 28.78rem;
  }

  .add-to-cart {
    bottom: 0vh;
    width: 100%;
    height: 7vh;
  }

  .left-arrow {
    left: 9.79vw;
    top: 32.3vh;
  }
  
  .right-arrow {
    left: 88.28vw;
    top: 32.3vh;
  }

  .view-more-button {
    position: absolute;
    top: 280rem;
    font-size: 2rem;
    width: 20rem;
    
  }

  .merchandise-title {
    width: 23rem;
  }
}

@media only screen and (max-width: 850px) {
  .product-box-1 {
    background-color: #FFFFFF;
    left: 1.424rem;
  }
  
  .product-box-2 {
    left: 18.344rem;
  }

  
  .product-box-3 {
    background-color: #FFFFFF;
    left: 34.652rem;
  }
  
  .product-box-4 {
    left: 1.424rem;
    top: 28.78rem;
  }
  
  .product-box-5 {
    background-color: #FFFFFF;
    left: 18.344rem;
    top: 28.78rem;
  }
  
  .product-box-6 {
    left: 34.652rem;
    top: 28.78rem;
  }
}

@media only screen and (max-width: 800px) {
  .product-box {
    width: 13rem;
    height: 13rem;
  }

  .product-box-1 {
    background-color: #FFFFFF;
    left: 3.424rem;
  }
  
  .product-box-2 {
    left: 18.144rem;
  }

  
  .product-box-3 {
    background-color: #FFFFFF;
    left: 32.652rem;
  }
  
  .product-box-4 {
    left: 3.424rem;
    top: 26.78rem;
  }
  
  .product-box-5 {
    background-color: #FFFFFF;
    left: 18.144rem;
    top: 26.78rem;
  }
  
  .product-box-6 {
    left: 32.652rem;
    top: 26.78rem;
  }

  .add-to-cart {
    bottom: 0vh;
    width: 100%;
    height: 7vh;
  }

  .left-arrow {
    left: 9.79vw;
    top: 29.3vh;
  }
  
  .right-arrow {
    left: 88.28vw;
    top: 29.3vh;
  }

  .coming-soon-text {
    margin-top: 3rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  .product-box-1 {
    background-color: #FFFFFF;
    left: 1.424rem;
  }
  
  .product-box-2 {
    left: 16.344rem;
  }

  
  .product-box-3 {
    background-color: #FFFFFF;
    left: 30.652rem;
  }
  
  .product-box-4 {
    left: 1.424rem;
    top: 26.78rem;
  }
  
  .product-box-5 {
    background-color: #FFFFFF;
    left: 16.344rem;
    top: 26.78rem;
  }
  
  .product-box-6 {
    left: 30.652rem;
    top: 26.78rem;
  }

  
}

/* Phone Responsive Design */
@media only screen and (max-width: 700px) {
  .merchandise-section {
    width: 82.05vw;
    height: 90.17vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
  }

  .merchandise-title {
    width: 204px;
    height: 33px;
    text-align: center;
    margin: 0 auto;
  }

  .merchandise-items {
      grid-template-columns: repeat(2, 1fr); /* Show 2 products per row */
      grid-template-rows: repeat(3, auto); /* Adjust to 3 rows */
  }

  .product-box {
    width: 13rem; 
    height: 13rem; 
  }

  .product-box-1 {
    position: absolute;
    left: 4vw;
    top: 3.44vh;
    border-radius: 7.19px;
  }

  .product-box-2 {
    position: absolute;
    left: 46.08vw;
    top: 3.44vh; 
    border-radius: 7.19px;
  }

  .product-box-3 {
    left: 4vw; 
    top: 29.74vh;
    border-radius: 7.19px;
  }

  .product-box-5 {
    left: 46.08vw;
    top: 29.74vh;
    border-radius: 7.19px;
  }

  .product-box-6 {
    left: 4vw;
    top: 55.92vh;
    border-radius: 7.19px;
  }

  .product-box-4 {
    left: 46.08vw;
    top: 55.92vh;
  }

  .add-to-cart {
    width: 100%;
    height: 36.95px;
    font-size: 0.7175rem;
    position: absolute;
    font-family: 'Aileron';
    font-weight: 900;
    border-bottom-left-radius: 7.19px; /* Round bottom-left corner */
    border-bottom-right-radius: 7.19px; /* Round bottom-right corner */
    opacity: 65%;
  }

  
  .add-to-cart-2 {
    bottom: 0;
  }

  .product-name {
    font-size: 0.73rem;
    font-weight: 900;
    color: #000000;
    font-family: 'Aileron';
    position: relative;
  }

  .coming-soon-text {
    font-size: 2.13rem;
    color: #D63A29;
    text-align: center;
    font-weight: 900;
    font-family: 'Aileron';
    left: 52.98vw;
    margin-top: 4.7vh;
  }

  .arrow {
    display: none;
  }

  .view-more-button {
    background-color: #FFFFFF;
    width: 36.67vw;
    height: 3.44vh;
    border-radius: 1.87vw;
    color: #D63A29;
    font-size: 1.1rem;
    font-family: 'Gantari';
    font-weight: 600;
    border: none;
    line-height: 2.5vh;
    position: absolute;
    top: 86.73vh;
  }
}

@media only screen and (max-width: 550px) {
  .product-box-1 {
    position: absolute;
    left: 0vw;
    top: 3.44vh;
    width: 38.97vw; 
    height: 18vh; 
    border-radius: 7.19px;
  }

  .product-box-2 {
    position: absolute;
    left: 43.08vw;
    top: 3.44vh;
    width: 38.97vw;
    height: 18vh;
    border-radius: 7.19px;
  }

  .product-box-3 {
    left: 0vw;
    width: 38.91vw;
    height: 17.98vh;
    top: 29.74vh;
    border-radius: 7.19px;
  }

  .product-box-5 {
    left: 43.08vw;
    width: 38.97vw;
    height: 18vh;
    top: 29.74vh;
    border-radius: 7.19px;
  }

  .product-box-6 {
    left: 0vw;
    width: 38.97vw;
    height: 18vh;
    top: 55.92vh;
    border-radius: 7.19px;
  }

  .product-box-4 {
    left: 43.08vw;
    width: 38.97vw;
    height: 18vh;
    top: 55.92vh;
  }

  .coming-soon-text {
    font-size: 6.42vw;
  }
}