@font-face {
    font-family: 'Aileron-600';  
    src: url('../fonts/Aileron-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron-900'; 
    src: url('../fonts/Aileron-Bold.otf') format('opentype');
}

body {
    background: linear-gradient(180deg, #f5c677 0%, #f4b66c 99.99%);
    
}

html {
    font-size: 16px;
}

#root{
    display: flex;
    justify-content: center;
}

.our_mission {
    background-color: white; 
    border-radius: 20px; 

    width: 91.15vw;
    height: 44.26vh;
    padding-top: 4vh; 
    position: relative;
}
h1 {
    text-align: center; 
    font-family: 'Aileron-900';
    font-weight: 900; 
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-bottom: 2vh;
}


.quotation {
    height: 8.8vh;
    width: 8.8vh;
    
    position:absolute;
    left:7.39vw;
    top: 10.92vh;
}


.mission_text {
    font-family: 'Aileron-600';
    font-weight: 600;
    /*line-height: 5vh; */
    font-size: 2rem; 
    margin: 0;
    padding: 0;

    width: 60.89vw;  /* 1169/1920 * 100 */
    height: 16.94vh;  /* 183/1080 * 100 */

    position: absolute;
    left: 15.10vw;  /* 290/1920 * 100 */
    top: 16.67vh;   /* 180/1080 * 100 */
    text-align: left;  
}

.highlight {
    color: #D63A29;
    font-weight: 600;
}

.author {
    position: relative;  
}

.tilde {
    color: #E36D51;
    font-family: 'Aileron-600';
    font-size: 2.4rem;  
    
    position: absolute;
    left: 62.65vw;  
    bottom: -27vh;  
}

.jack-zak {
    color: #E36D51;
    font-family: 'Aileron-600';
    font-size: 2rem;  
    
    position: absolute;
    left: 64.65vw;  
    bottom: -27vh;  
}

/*
.author {
    position: relative; 
}

.tilde {
    color: #E36D51;
    font-family: 'Aileron-600';
    font-size: 2rem;  
    
    position: absolute;
    width: 3.02vw;  
    height: 4.44vh;  

    left: 71.35vw;  
    top: 34.35vh;  
}

.jack-zak {
    color: #E36D51;
    font-family: 'Aileron-600';
    font-size: 2rem;
    
    position: absolute;
    width: 15.41vw;  
    height: 7.31vh;  

    left: 73.28vw;  
    top: 35.09vh;   
}
*/


