@font-face {
    font-family: "Aileron";
    src: url("../fonts/Aileron-SemiBold.otf") format("opentype");
    font-weight: 600;
  }
  
  @font-face {
    font-family: "Aileron";
    src: url("../fonts/Aileron-Bold.otf") format("opentype");
    font-weight: 900;
  }

  .our_mission {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15vh auto;
  }

  .our_mission-whitebox {
    background: white;
    width: 91.15vw;
    max-width: 1750px;
    margin: 0 auto;
    padding: 4.62vh 7vw 5vh;
    border-radius: 3.26vh;
  }

  .content-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5vw;
  }

  .whitebox-quotation {
    color: #E8927C;
    width: clamp(40px, 5.948vw, 95px);
    height: clamp(40px, 5.948vw, 95px);
    aspect-ratio: 1/1;
    margin-top: -3.906vw;
  }

  .our_mission-p {
    text-align: center;
    font-size: clamp(28px, 3.646vw, 70px);
    font-family: "Aileron";
    font-weight: 900;
  }

  .our_mission-text {
    text-align: start;
    font-size: clamp(19px, 2.5vw, 3rem);
    line-height: clamp(24px, 3.125vw, 60px);
    font-family: "Aileron", sans-serif;
    font-weight: 600;
    width: max-content;
    min-width: 75%;
    height:fit-content
  }

  .text-color {
    color: #d63a29;
  }

  .jack_and_zack {
    margin-top: 1em;
    margin-right: clamp(-60vw, -55vw, -50vw);
    width: clamp(142px, 14.479vw, 310px);
    height: clamp(23px, 3.125vw, 60px);
  }

@media screen and (max-width: 600px){
    .jack_and_zack{
        margin-right: -45vw
    }

    .content-wrapper{
        gap: 10px
    }
}