@font-face {
    font-family: 'Aileron-700';
    src: url('../fonts/Aileron-SemiBold.otf') format('opentype');
}
* {
    font-family: 'Aileron-700';
      
}
.red {
    color: #D63A29;

}
body {
    background: 
        linear-gradient(180deg, #E79B56 0%, #F9C673 50%, #FFFFFF 99.99%); /* Gradient */

    height: 100vh;  /* Full viewport height */
    margin: 0;      /* Removes default margins */
}
.backgroundbottom {
    position: absolute;
    width: 116.41vw;
    top: 29.81vh;
    left: -9.2vw;
    height: 85.57vh;
}
.bubbles {
    position: absolute;
    width: 93.96vw;
    height: 105.43vh;
    top: -1vh;
}
.straw {
    position: absolute;
    left: 20vw;
    top: 4.89vh;
    bottom: 15.58vh;
    right:64.35vw;
    width: 13.39vw;
    height: 62.36vh;
}
.product-left-description {
    position: absolute;
    width: 14.79vw;
    height: 12.68vh;
    top: 28.33vh;
    left: 8.59vw;
    font-size: 2.5vh; 
    line-height: 3vh; 
    text-align: left;
    
}
.product-right-description {
    position: absolute;
    width: 14.79vw;
    height: 12.68vh;
    top: 56.76vh;
    left: 34.43vw;
    font-size: 2.5vh; 
    line-height: 3vh; 
    text-align: left;
}

.leftarrow {
    position: absolute;
    width: 6.83vw;
    height: 10.87vh;
    top: 20.85vh;
    left: 17.86vw;
}
.rightarrow {
    position: absolute;
    width: 6.83vw;
    height: 10.87vh;
    top: 45.18vh;
    left: 30.13vw;
}
/* width: 1920
height: 1080 */
/* Desktop screen*/
/* @media screen and (min-width: 550px) { */

    
    /* html {
        font-size: 16px;
    }
    .straw-image {
        left: 20vw;
        top: 4.89vh;
        bottom: 15.58vh;
        right: 64.35vw;
        width: 13.38vw;
        height: 62.3vh;
    }
    
    .product-left-right-desc {
        font-size: 1.875rem;
        line-height: 2.7rem;

    } */
    /* .our-product {
        font-size: 4.375rem;
        width: 26.30vw;
        height: 7.78vh;
        top: 14.722vh;
        left: 51.30vw;
    } */

    /* .product{
        display: flex;

    } */

    /* .product-right h5 {
        font-size: 3.125rem;
        line-height: 5.5vh;
    } */
    
    /* #root {
        padding: 0;
        margin: 0;
    } */

    .waitlist-button{
        position: absolute;
        top: 55vh;
        left: 55vw;
        right:12.60vw;
        width: 20.36vw;
        height: 7.4vh;
        border-radius: 15px;
        background-color: #D63A29;
        color: white;
        border: none;
        font-size: 4vh;
        line-height: 4.44vh;

    }

    .our-product-text-1{
        position: absolute;
        top: 25vh;
        left: 24.75vw;
        right:12.60vw;
        font-size: 5vh;
        line-height: 3.56vw;
        margin: 0;
        width: 80vw;
        height: 11.11vh;
        text-align: center;
    }
    .our-product-text-2{
        position: absolute;
        top: 40vh;
        left: 24.75vw;
        right:12.60vw;
        font-size: 5vh;
        line-height: 3.56vw;
        margin: 0;
        width: 80vw;
        height: 11.11vh;
        text-align: center;
    }

    .our-product {
        position: absolute;
        top: 14.72vh;
        left: 51.3vw;
        margin: 0;
        padding: 0;
        font-size: 7vh;
        line-height: 7.77vh;
    }
/* } */

/* spacing: 71/1920*100
line height: 30/1080*100= 
font size: 30/16= */
/* Mobile screen */
/* @media screen and (max-width: 550px) {
    
} */