#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start; /* Ensure items align from the top */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; /* Enable scrolling when content overflows */
}
